/* User custom styles */
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font","JetBrainsMono Nerd Font";
    font-weight: normal;
    font-size: 10px;
    min-height: 10px;
}

#custom-mpris-previous,
#custom-mpris-next {
    min-width: 1.25em;
    padding-left: 0.12em;
    padding-right: 0.12em;
}

#custom-mpris-next + #mpris {
    padding-left: 0;
}

#custom-mpris-next + #mpris.playing,
#custom-mpris-next + #mpris.paused {
    padding-left: 0.45em;
}

#mpris {
    min-width: 0;
    padding-right: 0;
}

#mpris.playing,
#mpris.paused {
    min-width: 10em;
    padding-right: 0.35em;
}

#mpris.paused,
#mpris.stopped {
    opacity: 0.7;
}

#mpris.stopped {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

#mpris + #window {
    padding-left: 0;
}

#mpris.playing + #window,
#mpris.paused + #window {
    padding-left: 0.55em;
}
